MovieLens/
Amazon/
*.dat
*.csv
*.inter
*.user
*.item
.vscode/
*.pt
*.test
*.train
*.validation
*.neg
*.propensity
*.pop
*.popc
*.popcn
*.pkl
*.json
*.popularity
__pycache__/
log/
save_model/
*.out
*.txt
download
!requirements.txt
